@import '../../../../containers/App/app.styles.palete';

$backgroundColor: $gray;
$color: $white;

.button {
  &.primary-lownotice-btn {
    color: $color;
    background-color: $backgroundColor;
  }
}
