@import "../../../containers/App/app.styles.palete";
@import "../../../containers/App/app.styles.settings";

.create-todo-item {
  border-radius: $border-radius;
  background-color: $background-item-color;
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  z-index: 1;

  input {
    height: 2.2rem;
    margin: 0.9rem;
    border: 1px solid #f9ffed;
    border-radius: $border-radius;
    text-align: center;
    padding: 0 0.5rem;
    width: 100%;
  }

  .secondary-btn {
    margin: 0.9rem;
    min-width: 10rem;
  }
}
