@import "../../../containers/App/app.styles.palete";
@import "../../../containers/App/app.styles.settings";

.todo-item {
  padding: 1rem;
  background-color: $background-item-color;
  border-radius: $border-radius;
  display: flex;

  .todo-name {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8;
  }

  button {
    margin-left: 0.3rem;
    color: white;

    &.todo-trigger-done {
      background-color: #0980ff;
    }

    &.todo-delete {
      background-color: #4d4d4d;
    }
  }

  &.done {
    .todo-name {
      text-decoration: line-through;
    }

    .todo-trigger-done {
      background-color: #a8a8a8;
    }
  }
}
