@import '../../App/app.styles.palete';
@import '../../App/app.styles.settings';

$background: $light-green;
$color: white;

@if $theme == dark {
  $background: white;
  $color: black;
}

.button {
  cursor: pointer;
  border: none;
  box-shadow: none;
  min-width: 5rem;
  max-height: $height-elements;
  border-radius: $border-radius;
  text-align: center;
  padding: 0.6rem;
  line-height: 1;

  &.create-todo {
    background-color: $background;
    color: $color;
  }
}
