.header {
  padding: 1.2rem 0;
  text-align: center;
  width: 100%;
  max-width: 40rem;
  background-color: white;
  z-index: 1;

  a {
    padding: 0.6rem;
    background-color: #5b5b5b;
    margin-right: 0.5rem;
    color: white;
    border-radius: 0.5rem;
    display: inline-block;
    min-width: 3rem;
    text-align: center;
    text-decoration: none;
    max-height: none;
    line-height: 1;
  }
}
